.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;

}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-header {
    padding-top: 16px;
    padding-bottom: 16px;
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}
.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    display: none;
}
.page-address {
    display: none;
}

.logotype {
    color: var(--IRIS, #4D5AE5);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
}
.logo {
    color: var(--NAVY-BLUE, #2E2F42);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
}

.mobile-menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    stroke: #111
    line-height: 0;
}

.mobile-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    transform: translateX(100%);
    transition: transform 250ms linear;
}
.mobile-menu-wrapper.is-open {
    transform: translateX(0%);
}

.mobile-menu-container {
    position: relative;
}

.mobile-menu-close-btn {
    top: 24px;
    right: 24px;
    position: absolute;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}
.mobile-menu-link-one {
    color: var(--OCEAN, #404BBF);
    
        /* Header 2 */
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 111.111% */
        letter-spacing: 0.72px;
        text-transform: capitalize;
}

.mobile-menu {
    margin-top: 72px;
    display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px
}
.mobile-menu-link {
    color: var(--NAVY-BLUE, #2E2F42);
    
        /* Header 2 */
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 111.111% */
        letter-spacing: 0.72px;
        text-transform: capitalize;
}

.mobile-address {
padding-bottom: 48px;
}

.mobile-info-address {
    display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 168px;
        gap: 24px;
}

.mobile-info {
    color: var(--SLATE, #434455);
    
        /* Header 3 */
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 120% */
        letter-spacing: 0.4px;
}

.social-item-mobile {
    width: 40px;
    height: 40px;


}

.social-link-mobile {
    width: 100%;
    height: 100%;
    background: var(--IRIS, #4D5AE5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-mobile:hover,
.social-link-mobile:focus {
    background-color: #404BBF;
}

.social-icons-mobile {
    fill: #f4f4fd;
}

.social-list-mobile {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.hero {
    width: 320px;
    height: 432px;
    flex-shrink: 0;
    margin: 0 auto;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70),
            rgba(46, 47, 66, 0.70)),
        url("../images/hero/people-office.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-title {
    width: 288px;
    padding-top: 72px;
    padding-bottom: 72px;
color: var(--WHITE, #FFF);
    text-align: center;

    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.buy-now-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    margin: 0 auto;
    text-align: center;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: var(--IRIS, #4D5AE5);

}

.buy-now-btn:hover,
.buy-now-btn:focus {
    background-color: #404BBF;
}

.benefits-box {
    display: none;
}

.benefits-list-title {
    align-self: stretch; 
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
    
        /* Header 2 */
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 111.111% */
        letter-spacing: 0.72px;
        text-transform: capitalize;
}

.benefits-list-text {
    margin-top: 8px;
    align-self: stretch;
    color: var(--SLATE, #434455);
    
        /* Body Medium */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}



@media screen and (min-width: 768px) {
.page-header-container,
.container {
    max-width: 768px;
}
}

@media screen and (min-width: 1158px) {
    .page-header-container,
    .container {
        max-width: 1158px;
    }
}