body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
.section-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  /* Header 2 */
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.section {
  padding: 120px 0;
}
@media screen and (max-width: 1157px) {
  .section {
    padding: 96px 0;
  }
}
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* ================================================= MOBILE 👇 ========================================= */
@media screen and (max-width: 767px) {
  /* -------- HEADER -------------------------- */
  .menu {
    display: none;
  }
  .page-address {
    display: none;
  }
  .page-header {
    border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  }

  .logotype {
    color: var(--IRIS, #4d5ae5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    padding: 17px 0;
    display: block;
  }
  .logo {
    color: var(--NAVY-BLUE, #2e2f42);
  }

  .mobile-menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    stroke: #111;
    line-height: 0;
  }

  .mobile-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    transform: translateX(100%);
    transition: transform 250ms linear;
  }
  .mobile-menu-wrapper.is-open {
    transform: translateX(0%);
  }

  .mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .mobile-menu-close-btn {
    top: 24px;
    right: 24px;
    position: absolute;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
  .mobile-menu-link-one {
    color: var(--OCEAN, #404bbf);

    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }
  .mobile-menu-navigation {
    margin-bottom: auto;
  }

  .mobile-menu {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
  .mobile-menu-link {
    color: var(--NAVY-BLUE, #2e2f42);

    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }

  .mobile-info {
    color: var(--SLATE, #434455);

    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
  }

  .current {
    color: #4d5ae5;
  }

  .mobile-address {
    margin-bottom: 48px;
  }

  .mobile-info-address {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 24px;
  }

  .social-item-mobile {
    width: 40px;
    height: 40px;
  }

  .social-link-mobile {
    width: 100%;
    height: 100%;
    background: var(--IRIS, #4d5ae5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-link-mobile:hover,
  .social-link-mobile:focus {
    background-color: #404bbf;
  }

  .social-icons-mobile {
    fill: #f4f4fd;
  }

  .social-list-mobile {
    display: flex;
    gap: 40px;
    justify-content: center;
  }

  /* ------------- HERO ------------------------------ */
  .hero {
    width: 320px;
    height: 432px;
    padding: 72px 0;
    margin: 0 auto;
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-mob.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/hero-mob@2x.jpg);
    }
  }

  .main-title {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 72px;
    color: var(--WHITE, #fff);
    text-align: center;

    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }

  .buy-now-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    margin: 0 auto;
    text-align: center;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: var(--IRIS, #4d5ae5);
  }

  .buy-now-btn:hover,
  .buy-now-btn:focus {
    background-color: #404bbf;
  }

  /* --------------------- BENEFITS ---------------------------- */

  .benefits-item:not(:last-child) {
    margin-bottom: 72px;
  }

  .benefits-list-title {
    align-self: stretch;
    color: var(--NAVY-BLUE, #2e2f42);
    text-align: center;

    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }

  .benefits-list-text {
    margin-top: 8px;
    align-self: stretch;
    color: var(--SLATE, #434455);

    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
  }

  /* --------------------------- TEAM --------------------------------- */
  .section-tit {
    background-color: #f4f4fd;
  }
  .team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
  }
  .ingredients-list {
    width: 264px;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #fff);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  .ingredients-list-icon {
    display: block;
    width: 40px;
    height: 40px;
    fill: var(--IRIS, #4d5ae5);
  }

  .ellipse-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* Задает форму эллипса (круга) */
    background-color: #4d5ae5;
    /* Цвет эллипса, замените на свой */
    margin: 5px;
    /* Расстояние между эллипсами, по желанию */
    display: inline-block;
  }

  .ingredients-container {
    padding: 32px 0;
  }
  .ingredients-list-title {
    margin-bottom: 8px;
    text-align: center;
    color: var(--NAVY-BLUE, #2e2f42);
    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
  }
  .ingredients-list-par {
    text-align: center;
    color: var(--SLATE, #434455);
    margin-bottom: 8px;

    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
  }

  .social-item {
    width: 40px;
    height: 40px;
  }

  .social-link {
    width: 100%;
    height: 100%;
    background: var(--IRIS, #4d5ae5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-link:hover,
  .social-link:focus {
    background-color: #404bbf;
  }
  .social-icons {
    fill: #f4f4fd;
  }
  .social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
  }

  /* ----------------------------- PORTFOLIO --------------------------- */

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
  .portfolio-item {
    width: 288px;
    border-top: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .portfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }

  .portfolio-title {
    margin-bottom: 8px;
    color: var(--NAVY-BLUE, #2e2f42);
    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
  }
  .portfolio-text {
    color: var(--SLATE, #434455);

    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
  }

  .portfolio-wrap {
    position: relative;
    overflow: hidden;
  }

  .portfolio-item:hover .overlay {
    transform: translateY(0%);
  }

  .overlay {
    color: var(--CLOUD, #f4f4fd);

    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    overflow: auto;
    transform: translateY(100%);
    background: var(--IRIS, #4d5ae5);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* -------------------------- FOOTER ------------------------------------- */
  .page-footer {
    background-color: #2e2f42;
  }

  .page-footer-two {
    padding: 96px 0;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }

  .page-footer-title {
    width: 264px;
    color: var(--CLOUD, #f4f4fd);
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
  }

  .logotype-two {
    margin-bottom: 16px;
    display: block;
    text-align: center;
    /* padding-top: 17.5px; */
    color: var(--IRIS, #4d5ae5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
  }

  .logo-two {
    color: var(--CLOUD, #f4f4fd);
  }

  .social-text {
    color: var(--WHITE, #fff);
    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
    margin-bottom: 16px;
    text-align: center;
  }

  .social-footer-list {
    gap: 16px;
  }

  .footer-social-link:hover,
  .footer-social-link:focus {
    background-color: #31d0aa;
  }

  .review-footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .review-form-footer {
    width: 288px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: transparent;
    /* background: var(--NAVY-BLUE, #2E2F42); */
    border: 1px solid var(--WHITE, #fff);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff;
  }
  .buy-now-btn-footer {
    display: flex;
    margin: 0 auto;
    min-width: 165px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: var(--IRIS, #4d5ae5);
  }

  .review-buy-now-btn {
    margin-left: 16px;
  }

  /* -------------- MODAL --------------------------- */

  .backdrop {
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* transition: opacity 250ms linear, visibility 250ms linear; */
  }

  .backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--DAIRY, #fcfcfc);
    padding: 72px 24px 24px 24px;
    /* padding-left: 24px;
    padding-top: 72px;
    padding-right: 24px; */
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    padding: 0;
    border: none;
    line-height: 0;
    /* stroke: #2E2F42; */
    transition: stroke 250ms linear;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-close-btn:hover,
  .modal-close-btn:focus {
    border: none;
    /* stroke: #FFFFFF; */
    fill: #fff;
    background-color: #404bbf;
  }
  .modal-close-bth-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .review-form-description {
    /* width: 360px; */
    color: var(--NAVY-BLUE, #2e2f42);
    text-align: center;

    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
    margin-bottom: 16px;
  }
  .review-form-field-wrapper {
    margin-bottom: 8px;
  }
  .review-form-field-wrapper-two {
    margin-bottom: 16px;
  }

  .review-form-input {
    background-color: transparent;
    width: 100%;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
  }
  .review-form-input:focus {
    border-color: #4d5ae5;
  }

  .review-form-field-label {
    display: block;
    color: var(--LIGHT-SLATE, #8e8f99);

    /* Small Text */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.48px;
    margin-bottom: 4px;
  }
  .review-form-input-wrapper {
    position: relative;
  }

  .review-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .review-form-input:focus + .review-form-input-icon {
    fill: #4d5ae5;
  }
  .review-form-comment {
    width: 100%;
    height: 120px;
    background-color: transparent;
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.48px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
    padding: 8px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
  }
  .review-form-comment::placeholder {
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  }
  .review-form-comment:focus {
    border-color: #4d5ae5;
  }
  .review-form-checkbox-wrapper {
    margin-bottom: 24px;
  }

  .review-form-own-checkbox {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    stroke-width: 1px;
    fill: transparent;
    stroke: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
    background-color: var(--cornflower);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .review-form-checkbox:checked
    + .review-form-checkbox-label
    > .review-form-own-checkbox {
    border: none;
    background-color: #404bbf;
  }
  .review-form-checkbox:focus
    + .review-form-checkbox-label
    > .review-form-own-checkbox {
    fill: #f4f4fd;
    outline: 2px solid rgba(0, 0, 255, 0.5);
  }

  .review-form-own-checkbox-icon {
    fill: #fff;
    opacity: 0;
  }

  .review-form-checkbox:checked
    + .review-form-checkbox-label
    .review-form-own-checkbox-icon {
    opacity: 1;
  }

  .review-form-checkbox-label {
    color: var(--LIGHT-SLATE, #8e8f99);

    /* Small Text */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.48px;
  }

  .review-form-checkbox-label-two {
    color: var(--IRIS, #4d5ae5);

    /* Link Text */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.48px;
    text-decoration-line: underline;
  }

  .review-form-submit-btn {
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: var(--IRIS, #4d5ae5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
}
/* ================================================= TABLET 👇 ========================================= */
@media screen and (min-width: 768px) {
  /* ----------------- HEADER ----------------------------------- */
  .page-navigation {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    gap: 40px;
    margin-left: 76px;
  }

  .logotype {
    color: var(--IRIS, #4d5ae5);
    /* margin-right: 76px; */
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
  }

  .logo {
    color: var(--NAVY-BLUE, #2e2f42);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
  }

  .page-text {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    display: block;
    color: var(--NAVY-BLUE, #2e2f42);
    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .page-text:hover,
  .page-text:focus {
    color: #404bbf;
  }

  .page-text-aft::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    background: var(--OCEAN, #404bbf);
    content: "";
  }

  .page-text-aft {
    color: #404bbf;
  }

  .page-address {
    font-style: normal;
    display: flex;
    margin-left: auto;
  }

  .page-info-address {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .page-info {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--SLATE, #434455);
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;
  }

  .page-info:hover,
  .page-info:focus {
    color: #404bbf;
  }
  .mobile-menu-wrapper,
  .mobile-menu-open-btn {
    display: none;
  }

  /* ---------------- HERO ---------------------------- */
  .hero {
    max-width: 768px;
    margin: 0 auto;
    background-color: #2e2f42;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-tab.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/hero-tab@2x.jpg);
    }
  }

  .main-title {
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;

    color: var(--WHITE, #fff);
    text-align: center;
    /* Header 1 */
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    /* 107.143% */
    letter-spacing: 1.12px;
  }

  .buy-now-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    margin: 0 auto;
    text-align: center;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: var(--IRIS, #4d5ae5);
  }

  /* ----------------BENEFITS --------------------------------- */
  .benefits-box {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8e8f99);
    background: var(--CLOUD, #f4f4fd);
  }
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .benefits-item {
    width: 356px;
  }

  .benefits-list-title {
    align-self: stretch;
    color: var(--NAVY-BLUE, #2e2f42);

    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }

  .benefits-list-text {
    margin-top: 8px;
    align-self: stretch;
    color: var(--SLATE, #434455);

    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
  }
  /* --------------------------- TEAM --------------------------------- */
  .section-tit {
    background-color: #f4f4fd;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }
  .ingredients-list {
    width: 264px;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #fff);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  .ingredients-list-icon {
    display: block;
    width: 40px;
    height: 40px;
    fill: var(--IRIS, #4d5ae5);
  }

  .ellipse-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* Задает форму эллипса (круга) */
    background-color: #4d5ae5;
    /* Цвет эллипса, замените на свой */
    margin: 5px;
    /* Расстояние между эллипсами, по желанию */
    display: inline-block;
  }

  .ingredients-container {
    padding: 32px 0;
  }

  /* ----------------------------- PORTFOLIO --------------------------- */

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .portfolio-item {
    width: 356px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .portfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }

  .portfolio-title {
    margin-bottom: 8px;
    color: var(--NAVY-BLUE, #2e2f42);
    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
  }
  .portfolio-text {
    color: var(--SLATE, #434455);

    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
  }

  .portfolio-wrap {
    position: relative;
    overflow: hidden;
  }

  .portfolio-item:hover .overlay {
    transform: translateY(0%);
  }

  .overlay {
    color: var(--CLOUD, #f4f4fd);

    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    overflow: auto;
    transform: translateY(100%);
    background: var(--IRIS, #4d5ae5);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .ingredients-container-two {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }

  .ingredients-list-title {
    margin-bottom: 8px;
    text-align: center;
    color: var(--NAVY-BLUE, #2e2f42);
    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
  }

  .ingredients-list-two-two {
    row-gap: 48px;
    border-top: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .ingredients-list-two-two:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .ingredients-list-two {
  }

  .ingredients-list-title-two {
    margin-bottom: 8px;
    color: var(--NAVY-BLUE, #2e2f42);
    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
  }

  .ingredients-parag {
    position: relative;
    overflow: hidden;
  }

  .ingredients-list-two-two:hover .overlay {
    transform: translateY(0%);
  }

  .overlay {
    color: var(--CLOUD, #f4f4fd);

    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    overflow: auto;
    transform: translateY(100%);
    background: var(--IRIS, #4d5ae5);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .overlay p {
  }

  .ingredients-list-par {
    text-align: center;
    color: var(--SLATE, #434455);
    margin-bottom: 8px;

    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
  }

  .social-item {
    width: 40px;
    height: 40px;
  }

  .social-link {
    width: 100%;
    height: 100%;
    background: var(--IRIS, #4d5ae5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-link:hover,
  .social-link:focus {
    background-color: #404bbf;
  }
  .social-icons {
    fill: #f4f4fd;
  }
  .social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
  }

  .ingredients-list-par-two {
    color: var(--SLATE, #434455);

    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
  }

  .page-footer {
    background-color: #2e2f42;
  }

  .page-footer-two {
    padding: 100px 0;
  }

  .logo-two {
    /* margin-bottom: 16px; */
    display: inline-block;
    color: var(--CLOUD, #f4f4fd);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
  }

  .social-text {
    color: var(--WHITE, #fff);
    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
    margin-bottom: 16px;
  }
  /* -------------------------- FOOTER ------------------------------------- */
  .page-footer {
    background-color: #2e2f42;
  }

  .page-footer-two {
    padding: 100px 0;
  }
  .footer-container {
    display: flex;
    align-items: baseline;
  }

  .page-footer-title {
    width: 264px;
    color: var(--CLOUD, #f4f4fd);
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
  }

  .logotype-two {
    margin-bottom: 16px;
    display: block;

    /* padding-top: 17.5px; */
    color: var(--IRIS, #4d5ae5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
  }

  .logo-two {
    color: var(--CLOUD, #f4f4fd);
  }

  .social-text {
    color: var(--WHITE, #fff);
    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
    margin-bottom: 16px;
  }

  .social-footer-list {
    gap: 16px;
  }

  .footer-social-link:hover,
  .footer-social-link:focus {
    background-color: #31d0aa;
  }

  .review-footer {
    display: flex;

    gap: 24px;
  }
  .review-form-footer {
    width: 264px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: transparent;
    /* background: var(--NAVY-BLUE, #2E2F42); */
    border: 1px solid var(--WHITE, #fff);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff;
  }
  .buy-now-btn-footer {
    display: flex;
    margin: 0 auto;
    min-width: 165px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: var(--IRIS, #4d5ae5);
  }

  .review-buy-now-btn {
    margin-left: 16px;
  }
  /* -------------- MODAL --------------------------- */

  .backdrop {
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* transition: opacity 250ms linear, visibility 250ms linear; */
  }

  .backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--DAIRY, #fcfcfc);
    padding: 72px 24px 24px 24px;
    /* padding-left: 24px;
    padding-top: 72px;
    padding-right: 24px; */
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    padding: 0;
    border: none;
    line-height: 0;
    /* stroke: #2E2F42; */
    transition: stroke 250ms linear;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-close-btn:hover,
  .modal-close-btn:focus {
    border: none;
    /* stroke: #FFFFFF; */
    fill: #fff;
    background-color: #404bbf;
  }
  .modal-close-bth-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .review-form-description {
    width: 360px;
    color: var(--NAVY-BLUE, #2e2f42);
    text-align: center;

    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
    margin-bottom: 16px;
  }
  .review-form-field-wrapper {
    margin-bottom: 8px;
  }
  .review-form-field-wrapper-two {
    margin-bottom: 16px;
  }

  .review-form-input {
    background-color: transparent;
    width: 360px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
  }
  .review-form-input:focus {
    border-color: #4d5ae5;
  }

  .review-form-field-label {
    display: block;
    color: var(--LIGHT-SLATE, #8e8f99);

    /* Small Text */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.48px;
    margin-bottom: 4px;
  }
  .review-form-input-wrapper {
    position: relative;
  }

  .review-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .review-form-input:focus + .review-form-input-icon {
    fill: #4d5ae5;
  }
  .review-form-comment {
    width: 360px;
    height: 120px;
    background-color: transparent;
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.48px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
    padding: 8px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
  }
  .review-form-comment::placeholder {
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  }
  .review-form-comment:focus {
    border-color: #4d5ae5;
  }
  .review-form-checkbox-wrapper {
    margin-bottom: 24px;
  }

  .review-form-own-checkbox {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    stroke-width: 1px;
    fill: transparent;
    stroke: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
    background-color: var(--cornflower);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .review-form-checkbox:checked
    + .review-form-checkbox-label
    > .review-form-own-checkbox {
    border: none;
    background-color: #404bbf;
  }
  .review-form-checkbox:focus
    + .review-form-checkbox-label
    > .review-form-own-checkbox {
    fill: #f4f4fd;
    outline: 2px solid rgba(0, 0, 255, 0.5);
  }

  .review-form-own-checkbox-icon {
    fill: #fff;
    opacity: 0;
  }

  .review-form-checkbox:checked
    + .review-form-checkbox-label
    .review-form-own-checkbox-icon {
    opacity: 1;
  }

  .review-form-checkbox-label {
    color: var(--LIGHT-SLATE, #8e8f99);

    /* Small Text */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.48px;
  }

  .review-form-checkbox-label-two {
    color: var(--IRIS, #4d5ae5);

    /* Link Text */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.48px;
    text-decoration-line: underline;
  }

  .review-form-submit-btn {
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: var(--IRIS, #4d5ae5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
}

/* ================================================= NOT DESKTOP 👇 ========================================= */
@media screen and (max-width: 1157px) {
  .menu {
    margin-left: 120px;
  }
  .benefits-box {
    display: none;
  }
  .page-info-address {
    flex-direction: column;
    gap: 12px;
  }
  .page-info {
    font-size: 12px;
  }
  .page-footer-two {
    padding: 96px 0;
  }
  .footer-container {
    gap: 72px 24px;
    flex-wrap: wrap;
    max-width: 550px;
  }
}
/* ================================================= DESKTOP 👇 ========================================= */
@media screen and (min-width: 1158px) {
  /* --------------------------- HERO ------------------------------------- */
  .hero {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-desk.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/hero-desk@2x.jpg);
    }
  }

  .main-title {
    margin-bottom: 48px;
  }
  /* ----------------BENEFITS --------------------------------- */

  .benefits-item {
    width: 264px;
  }

  .benefits-list-title {
    font-size: 20px;

    line-height: 1.2;
  }

  .benefits-list-text {
    font-weight: 400;
  }

  /* ----------------------- PORTFOLIO --------------------------- */

  .portfolio-list {
    row-gap: 48px;
  }
  .portfolio-item {
    width: 360px;
  }
  /* ---------------------------- FOOTER ---------------------------- */
  .logo-box {
    margin-right: 120px;
  }
  .logo-box-two {
    margin-right: 80px;
  }
}
